In [1]:
1

1

In [2]:
1.2

1.2

In [3]:
1+1

2

In [4]:
1*3
1/3

0.3333333333333333

In [5]:
2***3

SyntaxError: invalid syntax (<ipython-input-5-6b1f253a49d9>, line 1)

In [6]:
2**3

8

In [7]:
# BODMAS rule applies
2 + 3*5 +8

25

# Variable Assignment

In [8]:
var = 2

In [9]:
var

2

In [10]:
x = 3

In [11]:
y = 5
x = x+y

In [12]:
x

8

In [13]:
# Invalid variable names , a variable name should not start with a number
12a = 2

SyntaxError: invalid syntax (<ipython-input-13-5346ef1301e5>, line 2)

In [14]:
# invalid variable names
@aq = 2

SyntaxError: invalid syntax (<ipython-input-14-639e27d72775>, line 2)

In [16]:
# Variable name should always start with a lowercase or uppercase alphabet
var = 2

In [17]:
var

2

In [20]:
Var = 2
Var

2

In [21]:
Var

2

# Strings

In [22]:
# we can use single quote
'My name is Aquib .'

'My name is Aquib .'

In [23]:
# Or we can use a double quote
"My name is Mohammed Aquib Nazri."

'My name is Mohammed Aquib Nazri.'

In [24]:
# If we want a single quote inside our string then we have to put our string inside a double quote .
"My name's Aquib ."

"My name's Aquib ."

In [27]:
# Printing strings . It is same as typing the string directly in console .
x = "Hello! Hello! , you don't know me ."

In [28]:
x

"Hello! Hello! , you don't know me ."

In [32]:
# To print the string , we use print . Note the difference in output here as compared to above . Here we neither have 
# double quotes nor we have "out"
print(x)

Hello! Hello! , you don't know me .

In [36]:
# How to use format function , you can see how the curly braces are replaced by desired result .
num = 106
name = '_musaafir_'
'My name is {} and number is {}'.format(name , num)

'My name is _musaafir_ and number is 106'

In [38]:
# To print the above result
print('My name is {} and number is {}'.format(name , num))

My name is _musaafir_ and number is 106

In [39]:
# We can also pass a variable inside curly braces and can then assign values to these variables inside format() function .
'My name is {names} and number is {number}'.format(names=name , number=num)

'My name is _musaafir_ and number is 106'

In [41]:
# Now , we are learning about indexing
name[0]

'_'

In [46]:
# Learning slicing
# To get all characters from 0 to end
name[0:]

'_musaafir_'

In [47]:
# This basically gives us all chracters upto an index here it's 4 excluive of 4
name[:4]

'_mus'

In [49]:
# Gives string in range [2,5)
name[2:5]

'usa'

# Learning Lists

In [50]:
# List can be of any type
name = ['aqu' , 'ib' , 2]

In [51]:
name

['aqu', 'ib', 2]

In [52]:
print(name)

['aqu', 'ib', 2]

In [53]:
# To append an element at the end
name.append('nazri')

In [54]:
name

['aqu', 'ib', 2, 'nazri']

In [55]:
# In list too , indexing is applicable
name[0:2]

['aqu', 'ib']

In [57]:
name[0:]

['aqu', 'ib', 2, 'nazri']

In [58]:
# to modify any particular element of list , we can use it's index .
name[0] = '_musaafir_'

In [59]:
name

['_musaafir_', 'ib', 2, 'nazri']

In [60]:
# Nested lists
name[1] = [1 , 2 , 3]

In [61]:
name

['_musaafir_', [1, 2, 3], 2, 'nazri']

In [62]:
# Now , how to access the element inside the nested list , well it's same as 2-D array in c++
name[1][0:]

[1, 2, 3]

In [63]:
# Using list of list of list , assume it as a 3-D array .
name[1] = [1 , 2 , 3 , [1 , 22 ,33]]
name[1][3][0:]

[1, 22, 33]

In [65]:
print(name[1][3][0])

1

# Dictionary

In [67]:
# In python , dictionary is defined using a key value pair , same as hash tables .
# dict = {'key' : 'value'}
dict = {'key1' : 'value' , 'key2' : 123}
dict

{'key1': 'value', 'key2': 123}

In [68]:
# Here indexing is not gonna work
dict[0]

KeyError: 0

In [69]:
# So to avoid above error , we have to pass the actual key
dict['key1']

'value'

In [70]:
# Dictionary can take any datatypes as value , even a list
dict = {'key3' : [1 , 2 , 3]}
dict

{'key3': [1, 2, 3]}

In [80]:
# Nested dictionary
dict = {'name' : {'OtherName' : 'aqu'}}
dict['name']

{'OtherName': 'aqu'}

In [73]:
dict['name']['OtherName']

'aqu'

# Tuples

In [74]:
# Tuples are similar to lists , only difference being we use parenthesis instead of square bracket
tuple1 = (1 , 2 , 3 ,4)

In [76]:
tuple1

(1, 2, 3, 4)

In [78]:
# Here too , we can use indexing
tuple1[0]

1

In [79]:
# Tuples are immutable , and so w can't change their values once they are initialized
tuple1[0] = 'new'

TypeError: 'tuple' object does not support item assignment

# Sets

In [82]:
# Set is a collection of unique elements .
set1 = {1 , 2 , 3 , 4 ,1 ,2 , 3 , 4}
set1

{1, 2, 3, 4}

In [83]:
# passing a list to a set
set([1 , 2 , 3 ,4 ,1 , 2 , 3 , 4])

{1, 2, 3, 4}

In [85]:
# To add an item to a set
set1.add('aq')

In [86]:
set1

{1, 2, 3, 4, 'aq'}

# Comparison Operator

In [87]:
1 > 2

False

In [88]:
1 < 2

True

In [89]:
 1>= 1

True

In [90]:
  1 != 2

True

In [91]:
1 == 2

False

In [92]:
1 == 1

True

In [93]:
1 or 1

1

In [94]:
1 or 2

1

In [96]:
1 | 2

3

In [97]:
# Bit-Wise OR
2 | 2

2

In [98]:
# Bit-Wise AND
1 & 1

1

In [99]:
1 & 2

0

In [100]:
1 < 2 and 2 < 3

True

In [101]:
1 < 2 and 2 > 3

False

In [102]:
1 < 2 or 2 > 3

True

In [104]:
# Rememeber here we write True and not true for boolean
True and False

False

# If Statements

In [105]:
if 1 < 2 :
    print("aq")

aq

In [106]:
if 1 > 2 :
    print("aq")
elif 1 < 2 :
    print("uib")

uib

In [107]:
if 1 > 2 :
    print("aq")
else :
    print("uib")

uib

# Loops

In [3]:
seq = [1 , 2 , 3 , 4 , 5]
for val in seq :
    print(val)

1
2
3
4
5

In [2]:
i = 1
while i <= 5 :
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4
i is : 5

In [5]:
# Range function -- It initializes an object ranging b/w [0 , 5) , by default it initializes an object with starting
# point to zero .
range(0,5)

range(0, 5)

In [6]:
# Now , if we want to convert above object to list , we can do as follows --
list(range(0 , 5))

[0, 1, 2, 3, 4]

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# List Comprehension
x = [1 , 2 , 3 , 4]

In [9]:
out = []
for num in x :
    out.append(num**2)

In [10]:
out

[1, 4, 9, 16]

In [12]:
# Now we can also create the "out" list using list comprehension
out = [num**2 for num in x]
out

[1, 4, 9, 16]

# Functions

In [13]:
# Keyword for calling function is def
def fun1(x) :
    print(x)

In [14]:
fun1(2)

2

In [15]:
def fun1(name) :
    print('Hello!' + name)

In [16]:
fun1(aquib)

NameError: name 'aquib' is not defined

In [17]:
# The error is occuring because we are passing the string aquib without putting it inside commas
fun1('aquib')

Hello!aquib

In [18]:
# we can also use default argumnet here .
def fun(name = 'Aquib') :
    print('Hello! ' + name)

In [20]:
fun()

Hello! Aquib

In [21]:
# If we call the above function without using parenthesis , then it will give us the details of that function
fun

In [38]:
# returning value and using multiline comment(use 3 double inverted commas)
def fun(num) :
    """
    
    Hi , Do i know you ?
    No
    
    """
    return num**3

In [39]:
fun(3)

27

In [24]:
output = fun(3)

In [32]:
output

9

In [27]:
# We can use shift + tab in jupyter to know the details of a function
fun

In [28]:
range

range

# Map

In [40]:
seq = [1 , 2 , 3, 4]

In [43]:
# Now assume we have to double each element of above list , so we write a function
def doubleIt(num) :
    return 2*num

In [46]:
# To do this we can use for loop , but there is another method in python called as map()
# this map funtion basically tells us the address where our new elements are present
map(doubleIt , seq)

In [47]:
# So , to get the desired output we have to convert the above map to list
list(map(doubleIt , seq))

[2, 4, 6, 8]

# Lambda Expression

In [48]:
# As you can see that in above map() , we are passing a function as parameter . It's not a good practice to define a
# function for a particular task , instead of that we can use LAMBDA EXPRESSION(anonymous function) , basically in
# lambda expression we get rid ourself of the "def" and "return" keyword 
lambda var : var*2

In [49]:
t = lambda var : var*2

In [50]:
t(6)

12

In [51]:
list(map(lambda num : num*3 , seq))

[3, 6, 9, 12]

# Filter

In [52]:
# This will gives us the address of our desired output .
filter(lambda num : num%2 == 0 , seq)

In [54]:
# Now to get our desired output .
# What filter does is that , it filters out all the elements from our list "seq" , which satisfies the lambda expression
list(filter(lambda num : num%2 == 0 , seq))

[2, 4]

# Different methods available for datatypes

   # 1.) Strings Methods --

In [55]:
str = 'Hello! Hello!'

In [56]:
# To get all the avilable methods for any datatype do this -- nameOfDataType.(and press Tab)
str.lower()

'hello! hello!'

In [57]:
str.upper()

'HELLO! HELLO!'

In [58]:
# By default , it splits all the strings on all the whitespace of that string
# It return a list , and hence indexing can be applied here .
str.split()

['Hello!', 'Hello!']

In [59]:
tweet = "Go sports! #sports"
tweet.split()

['Go', 'sports!', '#sports']

In [61]:
# we can also pass some parameters in split() , to split the string around that string
tweet.split('#')

['Go sports! ', 'sports']

# Use of indexing .
tweet.split('#')[1]

# 2.) Dictionary Methods --

In [64]:
dictionary = {'k1' : 1 , 'k2' : [1 , 2 , 3]}

In [65]:
# returns list of keys
dictionary.keys()

dict_keys(['k1', 'k2'])

In [67]:
# Returns list of all key value pair
dictionary.items()

dict_items([('k1', 1), ('k2', [1, 2, 3])])

In [69]:
# Returns all the values
dictionary.values()

dict_values([1, [1, 2, 3]])

# 3.) List Methods --

In [71]:
list = [1 , 2 , 3 ,4]

In [72]:
# Returns the last element
list.pop()

4

In [73]:
list

[1, 2, 3]

In [74]:
# We can also pass an index value to be popped off .
list.pop(1)

2

In [75]:
list

[1, 3]

In [78]:
# Use of in function ,it checks whether string x is present in list or not
'x' in list

False

In [77]:
'x' in ['x']

True

# 4.) Tuples Unpacking

In [79]:
x = [(1 , 2) , (3 , 4) , (5 , 6)]

In [80]:
x[0][1]

2

In [81]:
# Tuple unpacking
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [82]:
# Or
for (a , b) in x :
    print(b)

2
4
6